SDK_EXTENSION_API_KEY=<extension-api-key>
SDK_EXTENSION_ID=EXT-1111-1111
SDK_EXTENSION_URL=http://devmock:8000
MPT_API_BASE_URL=http://devmock:8000
MPT_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/usage_reporting
MPT_PRODUCTS_IDS=PRD-1111-1111
MPT_MSTEAMS_WEBHOOK_URL=
MPT_TEAMS_NOTIFICATIONS_ENABLED=false
MPT_TOOL_STORAGE_TYPE=local
MPT_TOOL_STORAGE_AIRTABLE_API_KEY=<fake-airtable-api-key>
MPT_TOOL_STORAGE_AIRTABLE_BASE_ID=<fake-storage-airtable-base-id>
MPT_TOOL_STORAGE_AIRTABLE_TABLE_NAME=<fake-storage-airtable-table-name>
SDK_OBSERVABILITY_ENABLED=true
SDK_OTEL_SERVICE_NAME=Swo.Extension.UsageReporting
SDK_APPLICATIONINSIGHTS_CONNECTION_STRING=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
